# ================================
# 🌐 Application Configuration 
# ================================
VITE_PUBLIC_APP_DOMAIN=https://amzadfood.com/

# qr code 
VITE_PUBLIC_TRACKING_URL=https://amzadfood.com/api

# ================================
# 🚀 Server & API Endpoints 
# ================================
# Local Development (commented out)
# VITE_PUBLIC_SERVER_URL=http://localhost:5000
# VITE_PUBLIC_API_URL=http://localhost:5000/api
# VITE_PUBLIC_IMAGE_ACCESS_URL=http://localhost:5000/uploads

# Production
VITE_PUBLIC_SERVER_URL=https://amzadfoodapi.thezoomit.com 
VITE_PUBLIC_API_URL=https://amzadfoodapi.thezoomit.com/api
VITE_PUBLIC_IMAGE_ACCESS_URL=https://amzadfoodapi.thezoomit.com/uploads

# ================================
# 🔑 Third-Party Services
# ================================
VITE_PUBLIC_TINY_API_KEY=nlh2ugsg95xca3s2ayh3ss1z18qh6zhmkgtx6hds966cbcp9
VITE_PUBLIC_SUPPER_ADMIN_EMAIL="superadmin@amzadfood.com"